

.card-counter{
    box-shadow:0 10px 20px rgba(0, 0, 0, 0.2);
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;

    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-color: #68727d;
    color: #FFF;
  }

  .card-counter.danger{
    background-color:#a56968;
    color: #FFF;
  }  

  .card-counter.success{
    background-color:#639a66;
    color: #FFF;
  }  

  .card-counter.info{
    background-color:#546582;
    color: #FFF;
  }  

  .card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }

  .card-counter .count-numbers{
    position: relative;    
    text-align: center;
    font-size: 24px;
    display: block;
  }

  .card-counter .count-name{
    position: relative;    
    text-align: center;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
  }
  /* .content_body{margin-left: 290px;} */
  .content_body.side_full_body{margin-left:0px;}

  .db-hdr-main{padding: 15px;background: #fff; margin-bottom: 20px;box-shadow: 0px 2px 2px #c7c7c7;}
  .db-hdr-main h3{padding: 0;margin: 0;font-size: 16px;font-weight: 500;}
  .db-pages{margin-top: 30px;}
  .br-clr-red{border-left:5px solid red;}
  .br-clr-green{border-left:5px solid green;}
  .br-clr-blue{border-left:5px solid blue;}
  .br-clr-yellow{border-left:5px solid yellow;color:#333;}
 
  .count-numbers{    position: absolute !important;
    top: -16px;
    left: 43%;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
   
    color: #fff;
   
    line-height: 27px;}
    button.db-button {
      font-size: 12px;
      float: right;
      display: block;
      margin: 15px 0 0;
      position: relative;
      top: 14px;
  }
    span.count-name {
      font-size: 12px !important;
      position: relative !important;
      top: 20px;
  }
    .br-clr-red  .count-numbers{ background: #f00; border: 1px solid #f00;}
    .br-clr-green  .count-numbers{ background: green; border: 1px solid green;}
    .br-clr-blue .count-numbers{ background: blue; border: 1px solid blue;}
    .br-clr-yellow .count-numbers{ background: yellow; border: 1px solid yellow;}
    .mar_bt_30{margin-bottom:30px;}

